@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mb-3 mt-3" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center">Alexander Hotel</h1>
        <h4 id="subTitle" class="text-center">Miami</h4>
    </section>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/imgs/sfondo2.jpg" class="d-block w-100" alt="Wild Landscape" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo3.jpg" class="d-block w-100" alt="Exotic Fruits" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo4.jpg" class="d-block w-100" alt="Exotic Fruits" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo5.jpg" class="d-block w-100" alt="Exotic Fruits" style="max-height: 60vh; object-fit: cover;" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex justify-content-center flex-column mt-3 conteiner">
        <h2 class="text-center mt-3 mb-3">Storia dell'Alexander Hotel</h2>
        <p style="padding: 0 4em 0 4em">
            L'Alexander Hotel è un esclusivo e raffinato hotel, rinomato per offrire un'esperienza di soggiorno di lusso senza paragoni. Le sue camere e suite sono un'ode all'eleganza, arredate con gusto e dotate di ogni comfort moderno, tra cui TV a schermo piatto, connessione Wi-Fi gratuita e minibar.

            Il ristorante dell'hotel è una vera oasi gastronomica, dove chef esperti preparano prelibatezze gourmet che deliziano il palato degli ospiti. Il servizio in camera 24 ore su 24 consente agli ospiti di gustare queste delizie direttamente nella loro stanza, per un'esperienza culinaria privata e di classe.

            Per chi desidera rilassarsi e rigenerarsi, l'Alexander Hotel offre un centro benessere e una spa, dove massaggi, sauna e bagno turco sono a disposizione per coccolare il corpo e la mente.

            L'hotel dispone anche di strutture per conferenze ed eventi, ideali per ospitare riunioni d'affari o celebrazioni speciali come matrimoni.

            La posizione dell'Alexander Hotel è un altro dei suoi punti di forza, che lo rende una base perfetta per esplorare la città o la zona circostante. Che tu sia in viaggio per affari o per piacere, questo hotel offre tutto il necessario per un soggiorno indimenticabile.
        </p>
        <p style="padding: 0 4em 0 4em">
            La Direzione
        </p>
    </div>
</main>